@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

//Variables
$breakpoint: 580px;
$breakpoint-medium: 790px;
$breakpoint-large: 930px;
$heading-color: black;
$accent-color: #4c96d7;
$secondary-color: #3a3a3a;
$main-font: "Bruno Ace SC", cursive;

body {
  font-family: $main-font;
  margin: 0;
}

h1,
h2 {
  margin-left: 1em;
}

@media only screen and (min-width: $breakpoint) {
  html {
    background-image: url("../images/site/checkerboard.jpg");
  }

  body {
    width: 80%;
    border: 5px solid $accent-color;
    background-color: white;
    border-radius: 8px;

    @media only screen and (min-width: $breakpoint) {
      margin: 10px auto;
    }
  }
}

a {
  color: $heading-color;
}

nav {
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
      & > * {
        margin: 10px 0 !important;
      }
    }

    & > * {
      margin: 0;
    }

    #account {
      margin-right: 1em;
    }
  }

  ul {
    list-style: none;
    display: flex;
    background-color: #3a3a3a;
    margin: 0.3em 0;
    padding: 0;
    align-items: center;
    height: auto;
    flex-wrap: nowrap;
    overflow: auto;
  }

  li {
    &:hover {
      background-color: $accent-color;
    }
    a {
      color: white;
      padding: 20px;
      text-decoration: none;
      display: block;
    }

    a:hover {
      color: $heading-color;
    }
  }
}

main {
  @media screen and (min-width: 780px) {
    &.detail {
      display: grid;
      grid-template-areas:
        "title title title title"
        "thumb info info info"
        "1 message message 2"
        "3 review review 4"
        "reviews reviews form form";

      h1 {
        grid-area: title;
      }

      #custtitle {
        grid-area: review;
      }

      #reviewForm {
        grid-area: form;
        align-items: start;
        margin-left: 20px !important;

        textarea {
          padding: 10px !important;
        }

        input {
          margin: 10px 0 !important;
        }
      }

      p.message {
        grid-area: message;
      }

      .reviews {
        grid-area: reviews;
        padding: 0;
        text-align: right !important;
        margin: 0 0 0 20px;
        list-style-type: none;

        .review {
          & > * {
            margin: 0;
          }

          p {
            margin-bottom: 10px;
          }

          h4 {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #custtitle {
    text-align: center;
  }

  &.detail {
    .reviews {
      padding: 0;
      text-align: center;
      margin: 0 0 20px 0;
      list-style-type: none;

      .review {
        & > * {
          margin: 0;
        }

        p {
          margin-bottom: 10px;
        }

        h4 {
          margin-top: 10px;
        }
      }
    }

    #reviewForm {
      max-width: 100%;
      padding: 0;
      margin: 0;

      textarea {
        margin: 0;
        padding: 0;
      }

      input {
        margin: 10px auto;
      }
    }
  }

  #thumbnail-list {
    display: flex;
    flex-direction: column;
    grid-area: thumb;
    gap: 8px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint) {
      margin-left: 20px;
      img {
        transition: transform 0.4s;
      }

      img:hover {
        transform: scale(1.5);
        transition: transform 0.4s;
      }
    }
  }

  .radio {
    flex-direction: row;
    gap: 15px;
    margin: 20px 0;

    @media screen and (max-width: $breakpoint-medium) {
      display: grid;
      grid-template-areas:
        "text text"
        "lbl1 btn1"
        "lbl2 btn2";

      #radioLabel {
        grid-area: text;
      }

      label.pImage {
        text-align: center;
      }

      label.pImage:nth-child(2) {
        grid-area: lbl1;
      }

      label.pImage:nth-child(3) {
        grid-area: lbl2;
      }
    }

    label,
    input {
      margin: 0;
    }
  }
  .vehicle {
    width: 100%;
    text-align: left;
    grid-area: info;
    img {
      width: 100%;
    }
    ul {
      padding: 0;
      margin-right: 20px;

      @media screen and (max-width: $breakpoint) {
        margin: 0;
      }
    
      & > * {
        margin: 0;
      }
    }
    @media screen and (max-width: $breakpoint) {
      text-align: center;
      margin: 10px 0;
    }

    @media screen and (min-width: $breakpoint-medium) {
      display: grid;
      grid-template-areas:
        "img text1"
        "img info"
        "img text3";

      img {
        grid-area: img;
        margin: auto;
      }

      ul {
        grid-area: info;
      }
    }
  }

  #inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-bottom: 0.5em;
      border: 1px #ccc solid;
      list-style-type: none;
      flex: 1 1 auto;
      width: 100%;
      text-align: center;
      padding: 0 0 15px 0;

      h2 {
        margin: 0 0 5px 0;
      }
    }

    img {
      max-width: 100%;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      flex-flow: row wrap;
      justify-content: center;
      h2 {
        font-size: 1rem;
      }
      li {
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding-bottom: 20px;
      }
      div {
        width: 100%;
      }
    }
  }

  .message {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .classifiedVehicles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table {
    margin: 20px auto;
    text-align: center;

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    a {
      color: blue;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    align-items: center;

    input,
    textarea {
      margin-bottom: 15px;
      padding: 10px 20px;
      border-radius: 50px;

      &[type="submit"] {
        margin: 10px auto 0 auto;
      }
    }

    textarea {
      border-radius: 30px !important;
    }

    select {
      max-width: 200px;
      margin-bottom: 15px;
      padding: 10px;
      background-color: $secondary-color;
      color: white;
      font-family: $main-font;
      border-radius: 50px;
    }

    label {
      margin-bottom: 0.2em;
    }

    span {
      text-align: center;
      margin-bottom: 1em;
      font-size: 0.8em;
    }
  }

  #delorean {
    margin: 10px 0;
    @media only screen and (min-width: $breakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
  }

  #right {
    grid-column: 1;
    grid-row: 2;
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      text-align: center;
      margin: 5px auto;
      width: 90%;
      height: auto;
      background-color: #4c96d7;

      img {
        max-width: 60%;
        height: auto;
        flex: 1;
      }

      a {
        background-color: white;
      }
    }
    h2 {
      grid-row: 1;
      grid-column: 1/3;
    }
  }

  #left {
    grid-column: 2;
    grid-row: 2;
    ul {
      margin: 0 10px;
      li {
        font-size: 1em;
      }
      padding-left: 20px;
    }
  }

  #top {
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    h1 {
      grid-row: 1;
      grid-column: 1/4;
    }

    h2 {
      @media only screen and (min-width: $breakpoint) {
        font-size: 2vw;
      }

      font-size: 4vw;
    }

    h2,
    h3 {
      margin: 0;
      color: $accent-color;
    }

    img {
      width: 80%;
      grid-row: 2/4;
      grid-column: 1/4;
      margin: 0 auto;
    }

    #info {
      grid-row: 2;
      grid-column: 1;
      font-size: 3vw;
      margin-left: 1em;

      @media only screen and (min-width: $breakpoint) {
        font-size: 2vw;
      }

      h3 {
        @media only screen and (min-width: $breakpoint) {
          font-size: 1.4vw;
        }

        font-size: 2.5vw;
      }
    }

    #button {
      grid-row: 4;
      grid-column: 2;
      margin: 20px auto;
      img {
        @media only screen and (min-width: $breakpoint) {
          width: 10vw;
          margin: 0;
        }
        width: 8em;
      }
      @media only screen and (min-width: $breakpoint) {
        grid-row: 2;
        grid-column: 1;
        margin: 8vw 0 0 2vw;
      }
    }
  }
}

footer {
  margin: 20px 0 40px 0;
  border-top: 5px solid black;
  text-align: center;
  padding: 20px 15px;

  p,
  a {
    margin: 0;
    font-size: 0.8em;
  }
}
