@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
body {
  font-family: "Bruno Ace SC", cursive;
  margin: 0;
}

h1,
h2 {
  margin-left: 1em;
}

@media only screen and (min-width: 580px) {
  html {
    background-image: url("../images/site/checkerboard.jpg");
  }
  body {
    width: 80%;
    border: 5px solid #4c96d7;
    background-color: white;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 580px) and (min-width: 580px) {
  body {
    margin: 10px auto;
  }
}
a {
  color: black;
}

nav .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}
@media only screen and (max-width: 790px) {
  nav .flex {
    flex-direction: column;
  }
  nav .flex > * {
    margin: 10px 0 !important;
  }
}
nav .flex > * {
  margin: 0;
}
nav .flex #account {
  margin-right: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  background-color: #3a3a3a;
  margin: 0.3em 0;
  padding: 0;
  align-items: center;
  height: auto;
  flex-wrap: nowrap;
  overflow: auto;
}
nav li:hover {
  background-color: #4c96d7;
}
nav li a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}
nav li a:hover {
  color: black;
}

@media screen and (min-width: 780px) {
  main.detail {
    display: grid;
    grid-template-areas: "title title title title" "thumb info info info" "1 message message 2" "3 review review 4" "reviews reviews form form";
  }
  main.detail h1 {
    grid-area: title;
  }
  main.detail #custtitle {
    grid-area: review;
  }
  main.detail #reviewForm {
    grid-area: form;
    align-items: start;
    margin-left: 20px !important;
  }
  main.detail #reviewForm textarea {
    padding: 10px !important;
  }
  main.detail #reviewForm input {
    margin: 10px 0 !important;
  }
  main.detail p.message {
    grid-area: message;
  }
  main.detail .reviews {
    grid-area: reviews;
    padding: 0;
    text-align: right !important;
    margin: 0 0 0 20px;
    list-style-type: none;
  }
  main.detail .reviews .review > * {
    margin: 0;
  }
  main.detail .reviews .review p {
    margin-bottom: 10px;
  }
  main.detail .reviews .review h4 {
    margin-top: 10px;
  }
}
main #custtitle {
  text-align: center;
}
main.detail .reviews {
  padding: 0;
  text-align: center;
  margin: 0 0 20px 0;
  list-style-type: none;
}
main.detail .reviews .review > * {
  margin: 0;
}
main.detail .reviews .review p {
  margin-bottom: 10px;
}
main.detail .reviews .review h4 {
  margin-top: 10px;
}
main.detail #reviewForm {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
main.detail #reviewForm textarea {
  margin: 0;
  padding: 0;
}
main.detail #reviewForm input {
  margin: 10px auto;
}
main #thumbnail-list {
  display: flex;
  flex-direction: column;
  grid-area: thumb;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 580px) {
  main #thumbnail-list {
    margin-left: 20px;
  }
  main #thumbnail-list img {
    transition: transform 0.4s;
  }
  main #thumbnail-list img:hover {
    transform: scale(1.5);
    transition: transform 0.4s;
  }
}
main .radio {
  flex-direction: row;
  gap: 15px;
  margin: 20px 0;
}
@media screen and (max-width: 790px) {
  main .radio {
    display: grid;
    grid-template-areas: "text text" "lbl1 btn1" "lbl2 btn2";
  }
  main .radio #radioLabel {
    grid-area: text;
  }
  main .radio label.pImage {
    text-align: center;
  }
  main .radio label.pImage:nth-child(2) {
    grid-area: lbl1;
  }
  main .radio label.pImage:nth-child(3) {
    grid-area: lbl2;
  }
}
main .radio label,
main .radio input {
  margin: 0;
}
main .vehicle {
  width: 100%;
  text-align: left;
  grid-area: info;
}
main .vehicle img {
  width: 100%;
}
main .vehicle ul {
  padding: 0;
  margin-right: 20px;
}
@media screen and (max-width: 580px) {
  main .vehicle ul {
    margin: 0;
  }
}
main .vehicle ul > * {
  margin: 0;
}
@media screen and (max-width: 580px) {
  main .vehicle {
    text-align: center;
    margin: 10px 0;
  }
}
@media screen and (min-width: 790px) {
  main .vehicle {
    display: grid;
    grid-template-areas: "img text1" "img info" "img text3";
  }
  main .vehicle img {
    grid-area: img;
    margin: auto;
  }
  main .vehicle ul {
    grid-area: info;
  }
}
main #inv-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #inv-display li {
  margin-bottom: 0.5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  padding: 0 0 15px 0;
}
main #inv-display li h2 {
  margin: 0 0 5px 0;
}
main #inv-display img {
  max-width: 100%;
}
@media only screen and (min-width: 790px) {
  main #inv-display {
    flex-flow: row wrap;
    justify-content: center;
  }
  main #inv-display h2 {
    font-size: 1rem;
  }
  main #inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
  }
  main #inv-display div {
    width: 100%;
  }
}
main .message {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
main .classifiedVehicles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main table {
  margin: 20px auto;
  text-align: center;
}
main table tr:nth-child(even) {
  background-color: #f2f2f2;
}
main table a {
  color: blue;
}
main fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
main form {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  align-items: center;
}
main form input,
main form textarea {
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 50px;
}
main form input[type=submit],
main form textarea[type=submit] {
  margin: 10px auto 0 auto;
}
main form textarea {
  border-radius: 30px !important;
}
main form select {
  max-width: 200px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #3a3a3a;
  color: white;
  font-family: "Bruno Ace SC", cursive;
  border-radius: 50px;
}
main form label {
  margin-bottom: 0.2em;
}
main form span {
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.8em;
}
main #delorean {
  margin: 10px 0;
}
@media only screen and (min-width: 580px) {
  main #delorean {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
main #right {
  grid-column: 1;
  grid-row: 2;
}
main #right section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main #right .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  margin: 5px auto;
  width: 90%;
  height: auto;
  background-color: #4c96d7;
}
main #right .container img {
  max-width: 60%;
  height: auto;
  flex: 1;
}
main #right .container a {
  background-color: white;
}
main #right h2 {
  grid-row: 1;
  grid-column: 1/3;
}
main #left {
  grid-column: 2;
  grid-row: 2;
}
main #left ul {
  margin: 0 10px;
  padding-left: 20px;
}
main #left ul li {
  font-size: 1em;
}
main #top {
  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
main #top h1 {
  grid-row: 1;
  grid-column: 1/4;
}
main #top h2 {
  font-size: 4vw;
}
@media only screen and (min-width: 580px) {
  main #top h2 {
    font-size: 2vw;
  }
}
main #top h2,
main #top h3 {
  margin: 0;
  color: #4c96d7;
}
main #top img {
  width: 80%;
  grid-row: 2/4;
  grid-column: 1/4;
  margin: 0 auto;
}
main #top #info {
  grid-row: 2;
  grid-column: 1;
  font-size: 3vw;
  margin-left: 1em;
}
@media only screen and (min-width: 580px) {
  main #top #info {
    font-size: 2vw;
  }
}
main #top #info h3 {
  font-size: 2.5vw;
}
@media only screen and (min-width: 580px) {
  main #top #info h3 {
    font-size: 1.4vw;
  }
}
main #top #button {
  grid-row: 4;
  grid-column: 2;
  margin: 20px auto;
}
main #top #button img {
  width: 8em;
}
@media only screen and (min-width: 580px) {
  main #top #button img {
    width: 10vw;
    margin: 0;
  }
}
@media only screen and (min-width: 580px) {
  main #top #button {
    grid-row: 2;
    grid-column: 1;
    margin: 8vw 0 0 2vw;
  }
}

footer {
  margin: 20px 0 40px 0;
  border-top: 5px solid black;
  text-align: center;
  padding: 20px 15px;
}
footer p,
footer a {
  margin: 0;
  font-size: 0.8em;
}

/*# sourceMappingURL=main.css.map */
